
/* 
 * Map styles
*/
#map {
  height: 100vh;
  margin: 0;
  padding: 0;
}


/*
 * Sidebar styles
*/
.sidebar {
  height: 100vh;
  padding: 10px;
}

input {
  display: block;
  margin: 20px auto;
  padding: 10px;
}

.library-address {
  font-style: italic;
}

li {
  margin-bottom: 10px;
}
/* 
 * Footer styles
*/
footer {
  background-color: #514E47;
  margin-bottom: 0;
}

footer a {
  text-decoration: none;
  color: #D6B4DD;
}

.footer-text {
  font-size: 1.3em;
  text-align: center;
  color: #FFF;
  margin-bottom: 0;
  padding: 10px;
}

/*
 * Accessibility styles
*/
*:focus {
  outline-color: #32CD32;
  border: 5px solid #32CD32;
}

/*
 * Helper classes
*/
.hidden {
  display: none;
}


/*
 * Media Queries
*/
@media screen and (min-width: 1024px) {

  .main-content {
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    width: 30%;
  }

  .map-container {
    width: 70%;
  }

  #map {
    height: 100%;
  }

}



