

#map {
  height: 100vh;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #514E47;
  margin-bottom: 0;
}

footer a {
  text-decoration: none;
  color: #D6B4DD;
}


*:focus {
  outline-color: #32CD32;
  border: 5px solid #32CD32;
}


.footer-text {
  font-size: 1.3em;
  text-align: center;
  color: #FFF;
  margin-bottom: 0;
  padding: 10px;
}

.sidebar {
  height: 100vh;
}

.hidden {
  display: none;
}



@media screen and (min-width: 1024px) {

  .main-content {
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    width: 30%;
  }

  .map-container {
    width: 70%;
  }

  #map {
    height: 100%;
  }






}



